@include keyframes(fadeIn) {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}
@include keyframes(animateLink) {
	from {
		border-bottom: solid 1px transparent;
	}
	to {
		border-bottom: solid 4px $grey-color;
	}
}

.fade-in {
	@include animation(fadeIn .5s ease-in, 1);
	@include animation-fill-mode(forwards);
}