//
// RESETS
//
html {
    padding: 0;
    margin: 0;
    display: block;
    position: relative;
    min-height: 100%;
    font-size: $base-font-size;
}

body {
    padding: 0;
    margin: 0;
    display: block;
    position: relative;
    font-family: $base-font-family;
    background-color: #fdfdfd;
    line-height: $base-line-height;
}

pre,
code {
    font-size: $code-font-size;
    line-height: $code-line-height;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;
    white-space: pre-wrap;
    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing / 2;
    font-size: $global-font-size;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}
h1,
h2 {
}
////