.site {
	&__title {
		float: left;
		text-decoration: none;
		font-size: 2rem;
		color: inherit;
	}
	&__header {
		@extend %clearfix;
		border-bottom: solid 1px $grey-color-light;
		padding: 20px 0 20px 0;

	}
	&__header-content {
		@include grid();
	}
	&__nav {
		float: right;
		text-align: right;
		.nav-link {
			display: inline-block;
			margin-left: 10px;
			color: inherit;
			text-decoration: none;
		}
	}
}