.home-page {
	@include grid();
	&__post-list {
		list-style-type: none;
		margin: 0;
		padding: 0;
		.post {
			@include animation(fadeIn .5s ease-in, 1);
			@include animation-fill-mode(forwards);
			@for $i from 1 through 20 {
				&:nth-of-type(#{$i}) {
					@include animation-delay($i * .1s);
				}
			}
			opacity: 0;
			padding: $page-gutter ($page-gutter / 2);
			margin: $page-gutter 0 0 0;
			background: $post-bg-color;
			border: solid 1px $grey-color-light;
			.title {
				margin: ($page-gutter / 2) 0 0 0;
				padding: 0;
			}
			.date {
				color: $grey-color-dark;
				font-weight: 130;
				font-style: italic;
			}
			.link {
				color: inherit;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.post-page {
	@include grid();
	opacity: 0;
	@include animation(fadeIn .5s ease-in, 1);
	@include animation-fill-mode(forwards);
}