.site {
	font-size: 1.6rem;
	color: $text-color;
}

.home-page {
	@include grid();
	&__post-list {
		list-style-type: none;
		margin: 0;
		padding: 0;
		.post {
			padding: 20px 10px 20px 10px;
			margin: 20px 0 0 0;
			background: $post-bg-color;
			border: solid 1px $grey-color-light;
			.title {
				margin: 10px 0 0 0;
				padding: 0;
				line-height: 3rem;
			}
			.date {
				color: $grey-color-dark;
				font-weight: 130;
				font-style: italic;
			}
			.link {
				color: inherit;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.post-page {
	@include grid();
}