//
// Page Variables
//
$base-font-family:      'Lato', sans-serif;
$base-font-size:        10px;
$base-font-weight:      normal;
$base-line-height:      1.5;
$code-font-size:        1.6rem;
$code-line-height:      1.6;
$global-font-size:      2.1rem;
$grey-color:            rgb(130,130,130);
$grey-color-dark:       darken($grey-color, 25%);
$grey-color-light:      lighten($grey-color, 40%);
$page-gutter:           20px;
$post-bg-color:         lighten($grey-color, 45%);
$spacing:               30px;
$text-color:            rgb(17,17,17);

//
// Breakpoints
//
$bp-large: 960px;
$bp-medium: 645px;
$bp-small: 430px;
////




//
// Placeholders
//
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

%vertical-rhythm {
    margin-bottom: ($spacing / 2);
}
