:root {
    --body-font-color: rgba(0, 0, 0, 1);
    --body-font-size: 1.6rem;
    --body-background-color: rgba(191, 209, 253, 1);
    --main-background-color: rgba(255, 255, 255, 1);
    --main-border-color: rgba(243, 243, 243, 1);
    --post-title-font-color: rgba(80, 118, 216, 1);
    --quote-background-color: rgba(205, 205, 216, 1);
    --quote-border-color: rgba(150, 33, 117, 1);
    --root-font-size: 10px;
    --body-font-family: "Roboto", sans-serif;
    --base-line-height: 1.5;
    --header-nav-font-color: rgba(80, 118, 216, 1);
}